@model List<PowerLinesWeb.Models.Fixture>

@if (Model.Count == 0)
{
    <h3>New fixtures coming soon...</h3>
}
else
{
    <h3>Full Time Result</h3>

    if (Model.Select(x => x.Date.Date).Distinct().Count() > 1)
    {
        <div class="row">
            <div class="col-12">
                <div class="btn-group btn-block">
                    @foreach (var date in Model.Select(x => x.Date.Date).Distinct())
                    {
                        <a href="#" class="btn btn-default date-picker" data-id="@date.Date" id="@(date.Date == DateTime.Now.Date ? "today-id" : "")">@(date == DateTime.Now.Date ? "Today" : date.ToString("d MMM"))</a>
                    }
                </div>
            </div>
        </div>
    }

    <table class="table table-condensed table-hover">
        <tr>
            <th class="text-center no-mobile">@Html.DisplayNameFor(model => model[0].Date)</th>
            <th class="no-mobile">@Html.DisplayNameFor(model => model[0].Country)</th>
            <th class="no-mobile">@Html.DisplayNameFor(model => model[0].Division)</th>
            <th>Fixture</th>
            <th class="text-center">@Html.DisplayNameFor(model => model[0].HomeOdds)</th>
            <th class="text-center">@Html.DisplayNameFor(model => model[0].DrawOdds)</th>
            <th class="text-center">@Html.DisplayNameFor(model => model[0].AwayOdds)</th>
            <th class="text-center">@Html.DisplayNameFor(model => model[0].ExpectedScore)</th>
            <th></th>
        </tr>
        @foreach (var fixture in Model)
        {
            <tr class="odds-line" data-id="@fixture.Date.Date">
                <td class="text-center no-mobile">@Html.DisplayFor(modelItem => fixture.Date)</td>
                <td class="no-mobile">@Html.DisplayFor(modelItem => fixture.Country)</td>
                <td class="no-mobile">@Html.DisplayFor(modelItem => fixture.Division)</td>
                <td>@Html.DisplayFor(modelItem => fixture.HomeTeam) v @Html.DisplayFor(modelItem => fixture.AwayTeam)</td>
                <td class="text-center"><span data-id="@fixture.FixtureId" class="selector btn @(fixture.IsValid == false ? "btn-default disabled" : fixture.HomeOdds == 0 ? "btn-danger" : fixture.Recommended == "H" ? "btn-success" : fixture.LowerRecommended == "H" ? "btn-warning" : "btn-default")">@Html.DisplayFor(modelItem => fixture.HomeOdds)</td>
                <td class="text-center"><span data-id="@fixture.FixtureId" class="selector btn @(fixture.IsValid == false ? "btn-default disabled" : fixture.DrawOdds == 0 ? "btn-danger" : fixture.Recommended == "D" ? "btn-success" : fixture.LowerRecommended == "D" ? "btn-warning" : "btn-default")">@Html.DisplayFor(modelItem => fixture.DrawOdds)</td>
                <td class="text-center"><span data-id="@fixture.FixtureId" class="selector btn @(fixture.IsValid == false ? "btn-default disabled" : fixture.AwayOdds == 0 ? "btn-danger" : fixture.Recommended == "A" ? "btn-success" : fixture.LowerRecommended == "A" ? "btn-warning" : "btn-default")">@Html.DisplayFor(modelItem => fixture.AwayOdds)</span></td>
                <td class="text-center">@Html.DisplayFor(modelItem => fixture.ExpectedScore)</td>
                <td class="text-center"><span data-id="@fixture.FixtureId" class="selector btn @(fixture.IsValid == false ? "btn-default disabled" : fixture.HomeOdds == 0 ? "btn-danger" : "btn-default")">@Html.DisplayFor(modelItem => fixture.ExpectedGoals)</td>
            </tr>
        }
    </table>
}

@section scripts {
    <script src="~/js/fixtures.js" asp-append-version="true"></script>
}
